<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentaltailwindcss</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
   
</head>
<body>

    <section>
        <div class="container bg-stone-550 bg-center bg-cover  py-10 relative flex flex-wrap">
            <div class="w-full h-70 z-70">
                <nav class="flex item-center justify-end bg-blue-200 px-4 py-4 rounded-md">
                    <a href="#" class="ml-6 text-3xl font-bold text-blue-500 mr-auto">MHS</a>
                    <a href="#" class="mr-6 text-xl-black m-2 hover:text-blue-300">Home</a>
                    <a href="#" class="mr-6 text-xl-black m-2 hover:text-blue-300">About</a>
                    <a href="#" class="mr-6 text-xl-black m-2 hover:text-blue-300">Service</a>
                    <button class="bg-blue-500 text-white hover:text-blue-300 font-bold rounded-[6px] px-5 py-2 w-40 m-2">Login</button>
                    <button class="bg-blue-500 text-white hover:text-blue-300 font-bold rounded-[6px] px-5 py-2 w-40 m-2">SignUp</button>
                </nav>
            </div>
        </div>

    </section>

</body>
</html>